@use "_variables" as vars;

.my-nav-title {
  margin-top: 30px;
  padding: 0 30px;
  font-size: 18px;
}

.no-data {
  font-size: 15px;
  margin: 20px 30px;
}

.cart-list-container {
  margin-top: 1rem;
  padding: 1rem 2rem;
  min-height: 60vh;
  h3 {
    padding-bottom: 3rem;
  }
  .cart-list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .cart-item-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 2rem;
      .item-img {
        padding: 1rem;
        border: 1px solid #c9c9c9;
        border-radius: 8px;
      }
      .item-quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        .quantity-controls {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          margin-right: 1rem;
          .quantity-total {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: #efefef;
            border-radius: 5px;
            span {
              font-size: 14px;
              background-color: transparent;
            }
          }
          .control-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.3rem;
          }
        }
        .total-amounts {
          display: flex;
          gap: 12px;
          border: 1px solid #c9c9c9;
          border-radius: 5px;
          padding: 0.7rem;
          span {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
      .delete-button {
        span {
          padding: 6px 12px;
          border-radius: 3px;
          background-color: #efefef;
          font-size: 14px;
        }
      }
    }
  }
  .total-sum {
    padding: 2rem 0 1rem 0;
    margin-right: 2rem;
    text-align: end;
    border-bottom: 1px solid #c9c9c9;
  }
  .order-button {
    text-align: end;
    margin-top: 1.5rem;
    margin-right: 2rem;
    button {
      padding: 8px 10px;
      border-radius: 8px;
      font-size: 14px;
      color: #ffffff;
      background-color: #508cc1;
    }
  }
}
