.footer-container {
  margin: 0 auto;
  padding: 2rem 2rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 13px;
    font-weight: light;
  }
  .logout-button {
    font-size: 13px;
    cursor: pointer;
  }
}
