.header-container {
  padding: 3rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    .menu {
      display: flex;
      width: fit-content;
      cursor: pointer;
      img {
        width: 20px;
        display: flex;
      }
    }
  }
}
