.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 44px;
  background-color: #f0f0f0;

  .logo {
    font-size: 18px;
  }

  .header-icon-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 7px;
    justify-items: end;
    align-items: center;

    .header-login-icon {
      font-size: 14px;
    }

    .header-search-icon {
      display: grid;
    }
  }
}
