@use "_variables" as vars;

// ProductCard
.product-card {
  border: 1px solid vars.$border-color;
  border-radius: 8px;
  padding: 12px 0;
  .product-img {
    display: grid;
    justify-items: center;
    img {
      width: 160px;
      height: 160px;
    }
  }
  .product-detail-box {
    display: grid;
    gap: 3px;
    grid-template-rows: 2fr 1fr;
    padding: 0 2rem;
    .product-detail {
      display: grid;
      .brand {
        font-weight: 600;
      }
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .product-price {
      .price {
        font-size: 14px;
      }
    }
  }
}

// PurchasedCard
.ordered-item {
  .item-img {
    img {
      width: 140px;
      height: 140px;
    }
  }
  .item-detail {
    padding: 0 10px;
    p {
      font-size: 14px;
    }
  }
}