@import "_variables";

// MyHeader
.my-profile-container {
  padding: 30px 16px;
  height: 135px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 7px;

  .profile-img {
    border-radius: 100%;
    width: 45px;
    height: 45px;
  }

  .nickname {
    font-size: 18px;
  }
}

.my-nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  width: 100%;
  justify-items: center;

  .nav-button {
    width: fit-content;
    padding-bottom: 5px;

    &.selected {
      border-bottom: 2px solid #2b2b2b;
    }
  }
}

.my-nav-title {
  margin-top: 30px;
  padding: 0 30px;
  font-size: 18px;
}

.no-data {
  font-size: 15px;
  margin: 20px 30px;
}

// ProfileEdit
.my-edit-container {
  display: grid;
  grid-template-rows: 1fr 2fr 0.5fr;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  padding: 16px 30px;

  .nickname-edit-box {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  .password-edit-box {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 2fr;
  }
  .edit-title {
    font-size: 18px;
  }
  .edit-input {
    height: 40px;
    font-size: 14px;
  }
  .edit-input::placeholder {
    color: #c8c8c8;
  }
  .save-button {
    color: #5f9ea0;
  }
}

// PurchaseList
.my-purchase-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px 30px;
  gap: 5px;

  .ordered-box {
    padding: 16px 0;
    display: grid;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid $gray-color;

    .ordered-number {
      font-weight: 500;
    }
    .ordered-list {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      justify-items: center;
      padding: 5px 10px;
      background-color: $gray-lighter-color;

      .ordered-item {
        display: inline-block;
        margin-right: 10px;
        .item-img {
          width: 120px;
          height: 110px;
          border-radius: 11px;
          padding: 5px;
        }
        .item-detail {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          width: 100%;
          padding: 0 12px;
          .detail {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// CartList
.my-cart-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin-top: 15px;
  padding: 16px 30px;

  .cart-item {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-items: center;
    background-color: $gray-lighter-color;
    padding: 5px 10px;

    .item-img {
      width: 130px;
      height: 110px;
      border-radius: 11px;
      padding: 5px;
    }

    .quantity-area {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: 1fr 1fr;
      padding: 13px 0;
      width: 100px;

      .quantity-controls {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
      }

      .item-total {
        font-size: 14px;
      }

      button {
        display: grid;
      }
    }

    .item-delete {
      font-size: 14px;
    }
  }
}

.order-button {
  padding: 15px 30px 0;

  button {
    color: $primary-color;
  }
}
