@import "_variables";

.my-profile-container {
  padding: 30px 16px;
  height: 135px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 7px;
}

.my-profile-img {
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.my-nick {
  font-size: 18px;
}

.my-nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10px;
  width: 100%;
  justify-items: center;
}

.my-nav-button {
  width: fit-content;
  padding-bottom: 5px;
  border-bottom: 2px solid #2b2b2b;
}

.my-edit-container {
  display: grid;
  grid-template-rows: 1fr 2fr 0.5fr;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  padding: 16px 30px;
}

.my-edit-input-content {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.my-edit-input-password {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.my-edit-content-title {
  font-size: 18px;
}

.my-edit-input {
  height: 40px;
  font-size: 14px;
}

.my-edit-input::placeholder {
  color: #c8c8c8;
}

.my-edit-button {
  color: #5f9ea0;
}

.my-purchase-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
  margin-top: 15px;
  padding: 16px 30px;
}

.my-nav-title {
  margin-top: 30px;
  padding: 0 30px;
  font-size: 18px;
}

.no-data {
  font-size: 15px;
  margin: 20px 30px;
}

// CartItem
.my-cart-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  padding: 16px 30px;

  .cart-item {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-items: center;
    background-color: $gray-lighter-color;
    padding: 5px 10px;

    .item-img {
      width: 160px;
      height: 100px;
      border-radius: 11px;
      padding: 5px;
    }

    .quantity-area {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: 1fr 1fr;
      padding: 13px 0;
      width: 100px;

      .quantity-controls {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
      }

      .item-total {
        font-size: 14px;
      }

      button {
        display: grid;
      }
    }

    .item-delete {
      font-size: 14px;
    }
  }
}

.order-button {
  padding: 15px 30px 0;

  button {
    color: $primary-color;
  }
}
