@font-face {
  font-family: "BMHANNA_11yrs";
  src: url("./styles/fonts/BMHANNA_11yrs.TTF") format("truetype");
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #efefef;
  overflow: hidden;
  font-family: "BMHANNA_11yrs", sans-serif;
  font-size: 16px;
  color: #222222;
}

#root {
  position: relative;
  width: 430px;
  max-width: 450px;
  height: 100vh;
  max-height: 932px;
  overflow-y: scroll;
  margin: 0 auto;
  font: inherit;
  font-size: inherit;
}

* {
  font-family: "BMHANNA_11yrs";
  font-size: 16px;
  color: #222222;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

input {
  outline: none;
  border-style: none;
  border-bottom: 2px solid #efefef;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
